<p id="notice"><%= notice %></p>

<h1>Listing Ratings</h1>

<p> Number of ratings: <%= @ratings.count %> </p>

<ul>
    <% @ratings.each do |rating| %>
      <li>
        <td><%= rating %></td>
      </li>
    <% end %>
</ul>

<br>

