<p id="notice"><%= notice %></p>

<p>
  <strong><%= @style.name %></strong>
</p>

<p>
  <%= @style.description %>
</p>

<p>
  <strong>Beers</strong>
  <ul class="list-group">
    <% @style.beers.each do |beer| %>
      <li class="list-group-item"><%= "#{beer.name} by #{beer.brewery.name}" %></li>
    <% end %>
  </ul>
</p>

<!--%= edit_and_destroy_buttons(@style) %--!>
